quick_sort/out_ascending.txt
quick_sort/out_descend.txt
quick_sort/out_r.txt
quick_sort/out_ra.txt
quick_sort/out_random.txt
quick_sort/out_rd.txt
quick_sort/out1.txt
quick_sort/out2.txt
quick_sort/main
quick_sort/main.out
tim_sort/out_coutting_timsort_gallop_sorted_input.txt
tim_sort/out_coutting_timsort_sorted_input.txt
tim_sort/out_timsort_compare_time.txt
tim_sort/out_timsort_gallop_compare_time.txt
tim_sort/out_timsort_gallop_sorted_input.txt
tim_sort/out_timsort_gallop.txt
tim_sort/out_timsort_sorted_input.txt
tim_sort/out_timsort.txt
tim_sort/cachegrind.out*