quick_sort/out_ascending.txt
quick_sort/out_descend.txt
quick_sort/out_r.txt
quick_sort/out_ra.txt
quick_sort/out_random.txt
quick_sort/out_rd.txt
quick_sort/out1.txt
quick_sort/out2.txt
quick_sort/main
quick_sort/main.out
